@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Inter:wght@600&family=Roboto:wght@400;500&family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka:wght@500&family=Inter:wght@600&family=Roboto:wght@400;500&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

nav{
    background-color: #3c464e;
    padding: 2rem 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    height: 60px;
    cursor: pointer;
}
.nav_links,
.nav_links2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_links li,
.nav_links2 li{
    list-style: none;
    padding-left: 4rem;
}
.nav_links a{
    text-decoration: none;
    color: #c5c8ca;
    font-size: 14px;
}
.nav_links a:hover{
    color: #fff;
}
.btn a{
    background-color: #ff004d;
    color: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    font-size: 12px;
}


/* ---------- hero styles ------------ */
#hero{
    background-color: #364049;
    height: auto;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem 0;
}
.tagline{
    width: 50%;
    color: #c5c8ca;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.tagline h1{
    color: #fff;
    margin-top: 2rem;
    letter-spacing: 2px;
    font-size: 36px;
    padding-bottom: 10px;
}
.tagline .highlight{
    background-color: #fff;
    height: 2px;
    width: 70px;
    margin-bottom: 2rem;
}
.tagline p{
    line-height: 2rem;
    font-size: 18px;
}
.tagline img{
    margin-top: 2rem;
}

.socials{
    display: flex;
    flex-direction: column;
}
.socials i{
    color: #ffdbe4;
    font-size: 28px;
    padding: 6px;
    cursor: pointer;
}
.vector_1,
.vector_2{
    border-radius: 74% 18% 47% 53% / 50% 35% 65% 50% ;
    width: 300px;
    height: 300px;
}
.vector_1{
    background-color: #ffdbe4;
    position: relative;
}
.vector_2{
    background-color: #ff004d;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

/* ------ partners ------ */
.partners{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 4rem;
}
.partners h4,
.partners i{
    color: #4b555c;
}
.part{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part img{
    margin-right: 5px;
    width: 150px;
}
#partners h1{
    padding: 2rem 0;
    color: #4b555c;
}

/* ------ about us ------- */
#about_us{
    background-color: #e1e1e1;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.us{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 4rem 0;
}
.us h1,
.us p,
.details h3{
    color: #4b555c;
}
.us h1{
    margin-bottom: 4rem;
}
.websites{
    display: flex;
    margin-bottom: 3rem;
    align-items: flex-start;
}
.websites img{
    display: flex;
    width: 30%;
    
}
.details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-left: 1rem;
}
.details h3{
    padding-bottom: 1rem;
}
.details p{
    padding-bottom: 2rem;
}
.details p, .details a{
    font-size: 14px;
}
.details a{
    color: #ff004d;
    text-decoration: none;
    font-weight: 600;
}


.soft{
    flex: 1;
}
.gray{
    background-color: #364049;
    width: 100%;
    height: 500px;
    border-radius: 100% 0% 0% 100% / 50% 0% 0% 50% ;
    position: relative;
}
.pink{
    position: absolute;
    top: 39%;
    background-color: #ff004d;
    width: 100%;
    height: 300px;
    border-radius: 100% 0% 0% 76% / 50% 0% 0% 50%   ;
}
.softie{
    background-image: url(/img/tech_01.jpg);
    width: 110%;
    height: 90%;
    border-radius: 100% 0% 0% 100% / 50% 0% 0% 50% ;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 3rem;
}
.soft img{
    display: none;
}

/* ------- reviews ------- */
#reviews{
    background-color: #e1e1e1;
    height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0;
}
.reviews h1{
    padding: 2rem 0;
    color: #4b555c;
}
.profile{
    border-radius: 50%;
    border-top: 7px solid #364049;
    border-left: 7px solid #364049;
    border-right: 7px solid #364049;
    border-bottom: 7px solid #ff004d;
    margin: 1rem 0;
}
.profile img{
    width: 180px;
    border-radius: 50%;
    margin: 5px;
}
.profile:hover{
    transform: scale(1.1);
    transition: transform 500ms ease-in-out;
}
.card h2,
.card p,
.card h4{
    color: #364049;
    margin-bottom: 10px;
    padding-left: 1rem;
}
.card h3{
    color: #ff004d;
    margin-bottom: 10px;
    padding-left: 1rem;
}
.card p{
    width: 80%;
}
.star{
    display: flex;
    margin-top: 1rem;
}
.star i{
    color:#ff004d;
    padding-left: 10px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socials2 i{
    color: #364049;
    font-size: 28px;
    padding: 6px;
    cursor: pointer;
}
.socials2{
    display: flex;
    flex-direction: column;
}

/* -------contact us -------- */
#contact{
    background-color: #3c464e;
    padding: 2rem 0;
    height: 100vh;
}
.up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.up h1{
    color: #ffdbe4;
    font-size: 36px;
}
.contact_form{
    display: flex;
    flex-direction: column;
    width:40%;
}
.down{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 4rem;
}
.up img{
    height: 60px;
    cursor: pointer;
}

.btn1{
    background-color: #ff004d;
    color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    left: 30%;
    cursor: pointer;
    font-family: 'ubuntu';
}
.contacts{
    display: flex;
    align-items: center;
}
.contacts1{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.infos{
    padding-left: 1rem;
    margin-top: 20px;
}
.infos p{
    color: #e1e1e1;
    padding: 8px;
    font-size: 14px;
}
.socials3{
    display: flex;
    flex-direction: column;
    border-right: 2px #e1e1e1 solid;
    padding-right: 2rem;

    
}
.socials3 i{
    color: #ffdbe4;
    font-size: 28px;
    padding: 2px;
    margin-top: 10px;
    cursor: pointer;
}
.contact_form label{
    color: #e1e1e1;
    font-size: 14px;
    font-weight: bold;
}
.contact_form input{
    padding: 8px;
    border-radius: 6px;
    border: none;
    width: 70%;

}
.contact_form textarea{
    border-radius: 10px;
    border: none;
    width: 70%;
    padding: 10px;
}
.contact_form input:focus,
.contact_form textarea:focus{
    outline: none;
}
.form{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1rem 0;
}
.alert{
    display: none;
    color: green;
    width: 20%;
    padding: 0 1rem;
    font-size: 18px;
    transition: display 100ms ease-in;
}


/* ------ footer ------ */
footer{
    background-color: #000000;
}
.main_footer{
    text-align: center;
    padding: 1rem;
}
.main_footer p{
    font-size: 14px;
    padding: 2rem;
    color: #ffffff;
    margin: 0;
}



/*---------------- Media Querries --------------*/
@media(max-width: 1060px){
    .nav_links li, 
    .nav_links2 li{
        padding-left: 2rem;
    }
    .navbar img{
        height: 50px;
        cursor: pointer;
    }
    .soft img{
        display: block;
        width: 100%;
        padding: 2px;
        border-radius: 10px;
    }
    .showcase{
        border: 4px solid #ff004d;
        border-radius: 10px;
        margin: 1rem 0;
        display: none;
    }
    .cube p{
        font-size: 14px;
        padding: 0;
    }
    .details p{
        font-size: 13px;
    }
    .contacts1{
        display: flex;
        justify-content: space-between;
    }

    .partners h4{
        font-size: 12px;
        text-align: center;
    }
    .partners{
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .part{
        flex-direction: column;
        align-items: center;
    }
    
}

@media (max-width: 900px){
    #partners h1{
        text-align: center;
    }
    .partners h4{
        font-size: 10px;
        text-align: center;
    }
    .partners{
        flex-wrap: wrap;
    }
    .part{
        flex-direction: column;
        align-items: center;
    }

    #contact{
        height: auto;
    }
    .alert{
        width: auto;
        padding: 2rem;
    }

    .modal{
        top: 540%;
    }
    .modal-container{
        width: 90%;
    }
    .modal-container p{
        width: 80%;
    }
    .up{
        flex-direction: column;
    }
    .up img{
        display: none;
    }
    .up h1{
        text-align: center;
    }
    .down{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .contact_form{
        width: 100%;
    }
    .contacts{
        padding: 2rem;
        width: auto;
    }
    .contacts1{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .socials3{
        padding-right: 1rem;
    }
    .socials2{
        padding: 2rem;
        flex-direction: row;
    }
    .reviews h1{
        text-align: center;
    }
    .cards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card{
        align-items: center;
        text-align: center;
    }
    .gray{
        display: none;
        position: relative;
    }
    .pink{
        display: none;
    }
    .about{
        flex-direction: column;
    }
    .us h1{
        text-align: center;
    }
    .us{
        padding-bottom: 0;
    }

    .websites{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .details{
        width: 100%;
        align-items: center;
    }
    .details h3, p{
        line-height: 18px;
    }
    .details h3{
        padding-top: 1rem;
    }


    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav_links2{
        display: none;
    }
    .navbar img{
        height: 45px;
        cursor: pointer;
    }
    .nav_links{
        position: absolute;
        flex-direction: column;
        justify-content: center;
        background-color: #3c464e;
        color: #c5c8ca;
        height: 100%;
        top: 5rem;
        left: 0;
        right: 0;
        z-index: 1000;
        opacity: 0;

        transition: opacity 500ms ease-in-out;
    }
    .nav_links li, .nav_links2 li{
        padding-left: 0rem;
        margin: 2rem;
    }
    .nav_links a, .nav_links2 a{
        font-size: 1.5rem;
    }
    .nav_links a:hover{
        border-bottom: #fff 3px solid;
    }
    .btn a:hover{
        border-bottom: none;
    }
    .nav_toggle{
        background: transparent;
        cursor: pointer;
        position: absolute;
        z-index: 1000;
    }

    
    /*------ toggle menu ------*/
    .nav_open .nav_links{
        opacity: 1;
    }
    .nav_open .hamburger{
        transform: rotate(135deg);
    }

    .nav_open .hamburger::before{
        transform: rotate(90deg) translateX(-6px);
    }

    .nav_open .hamburger::after{
        opacity: 0;
    }


    /*------- hamburger menu -----*/
    .hamburger{
        display: block;
        position: relative;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background-color: #c5c8ca;
        width: 2rem;
        height: 3px;
        border-radius: 1rem;
        transition: transform 300ms ease-in-out;
    }
    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
    }
    .hamburger::before { top: 6px; }
    .hamburger::after { bottom: 6px; }


    /*---------- hero ---------- */
    .hero{
        flex-direction: column;
        align-items: center;
    }
    .tagline{
        width: 100%;
    }
    .tagline img{
        padding-top: 2rem;
    }

    .socials{
        padding-top: 2rem;
        flex-direction: row;
    }
    .us h1{
        margin-bottom: 10px;
    }

    .us .highlight{
        background-color: #4b555c;
        width:70px;
        height: 2px;
        margin-bottom: 2rem;
        position: relative;
        left: 40%;
    }
    .reviews h1{
        padding-bottom: 10px;
    }

    .reviews .highlight{
        background-color: #4b555c;
        width:70px;
        height: 2px;
        margin-bottom: 2rem;
        position: relative;
        left: 40%;
    }

    #partners .highlight{
        background-color: #4b555c;
        width:60px;
        height: 2px;
        margin-bottom: 4rem;
        position: relative;
        left: 42%;
    }
    
    #partners h1{
        padding-bottom: 10px;
    }
    #reviews{
        height: auto;
    }
}